<HTML>

<HEAD>
    <STYLE>
        .indexTerm {
            color: black;
            /* background-color: #E0E0E0; #3580BB ; #CBf2De;*/
            background-color: #C7E2F6;
            font: 'calibri';
            font-size: 12;
            text-align: left;

        }

        .appearedAs {
            color: black;
            background-color: white;
            font: 'Times New Roman';
            font-size: 11;
            text-align: right;
        }

        .forIndentation {
            background-color: red;
            width: 10px;
        }


        .pageNumbers {
            text-align: left;
            color: black;
            background-color: #ffffff;
            width: 250px;
            font: 'Times New Roman';
            font-size: 12;
            word-wrap: break-word;
            border-left: solid black 1px;
            border-right: solid none;
            border-top: none;
            border-bottom: none;

        }


        .container {
            color: #1e90ff;
            background-color: red;
            padding: 0px;

        }
    </STYLE>
    <TITLE>Index of Tafseer Ibn-e-Kathir Vol. 1</TITLE>
</HEAD>

<BODY>
    <!-- 
    <h1 style="text-align: center;">INDEX</h1>
    -->
    <TABLE>
        <!-- 
        <THEAD>
            <TR>
                <TD>Index</TD>
                <TD>Appeared As</TD>
                <TD>Page Numbers</TD>
            </TR>
        </THEAD>
        -->
        <TR>
            <TD class="indexTerm" colspan='2'>aalameen</TD>
        </TR>
        <TR>

            <TD class="appearedAs">aalameen</TD>
            <TD class="pageNumbers">66</TD>
        </TR>
        <TR>
            <TD class="indexTerm" colspan='2'>aback</TD>
        </TR>
        <TR>

            <TD class="appearedAs">aback</TD>
            <TD class="pageNumbers">55</TD>
        </TR>
        <TR>
            <TD class="indexTerm" colspan='2'>abandon</TD>
        </TR>
        <TR>

            <TD class="appearedAs">abandonment</TD>
            <TD class="pageNumbers">72</TD>
        </TR>
        <TR>
            <TD class="indexTerm" colspan='2'>abas</TD>
        </TR>
        <TR>

            <TD class="appearedAs">abasa</TD>
            <TD class="pageNumbers">18</TD>
        </TR>
        <TR>

            <TD class="appearedAs">abased</TD>
            <TD class="pageNumbers">70</TD>
        </TR>
        <TR>
            <TD class="indexTerm" colspan='2'>abba</TD>
        </TR>
        <TR>

            <TD class="appearedAs">abba</TD>
            <TD class="pageNumbers">19</TD>
        </TR>
        <TR>
            <TD class="indexTerm" colspan='2'>abbad</TD>
        </TR>
        <TR>

            <TD class="appearedAs">abbad</TD>
            <TD class="pageNumbers">72</TD>
        </TR>
        <TR>
            <TD class="indexTerm" colspan='2'>abban</TD>
        </TR>
        <TR>

            <TD class="appearedAs">abban</TD>
            <TD class="pageNumbers">17</TD>
        </TR>
        <TR>
            <TD class="indexTerm" colspan='2'>abbdullah</TD>
        </TR>
        <TR>

            <TD class="appearedAs">abbdullah</TD>
            <TD class="pageNumbers">96</TD>
        </TR>
        <TR>
            <TD class="indexTerm" colspan='2'>abbreviated</TD>
        </TR>
        <TR>

            <TD class="appearedAs">abbreviated</TD>
            <TD class="pageNumbers">98</TD>
        </TR>
        <TR>
            <TD class="indexTerm" colspan='2'>abdi</TD>
        </TR>
        <TR>

            <TD class="appearedAs">abdi</TD>
            <TD class="pageNumbers">32</TD>
        </TR>
        <TR>
            <TD class="indexTerm" colspan='2'>abdul</TD>
        </TR>
        <TR>

            <TD class="appearedAs">abdul</TD>
            <TD class="pageNumbers">5, 6, 18, 47</TD>
        </TR>
        <TR>
            <TD class="indexTerm" colspan='2'>abdullah</TD>
        </TR>
        <TR>

            <TD class="appearedAs">abdullah</TD>
            <TD class="pageNumbers">4, 13, 14, 15, 20, 32, 34, 37, 42, 47, 48, 49, 64, 66, 77,
                79, 83, 99</TD>
        </TR>
        <TR>
            <TD class="indexTerm" colspan='2'>abdur</TD>
        </TR>
        <TR>

            <TD class="appearedAs">abdur</TD>
            <TD class="pageNumbers">3, 5, 6, 7, 14, 15, 41, 49, 57, 78, 80, 98, 99</TD>
        </TR>
        <TR>
            <TD class="indexTerm" colspan='2'>abide</TD>
        </TR>
        <TR>

            <TD class="appearedAs">abide</TD>
            <TD class="pageNumbers">81, 82, 93</TD>
        </TR>
        <TR>

            <TD class="appearedAs">abiders</TD>
            <TD class="pageNumbers">94</TD>
        </TR>
        <TR>

            <TD class="appearedAs">abiding</TD>
            <TD class="pageNumbers">9, 64</TD>
        </TR>
        <TR>
            <TD class="indexTerm" colspan='2'>ability</TD>
        </TR>
        <TR>

            <TD class="appearedAs">ability</TD>
            <TD class="pageNumbers">64, 66</TD>
        </TR>
        <TR>
            <TD class="indexTerm" colspan='2'>abjectness</TD>
        </TR>
        <TR>

            <TD class="appearedAs">abjectness</TD>
            <TD class="pageNumbers">72</TD>
        </TR>
        <TR>
            <TD class="indexTerm" colspan='2'>ablah</TD>
        </TR>
        <TR>

            <TD class="appearedAs">ablah</TD>
            <TD class="pageNumbers">62</TD>
        </TR>
        <TR>
            <TD class="indexTerm" colspan='2'>ablution</TD>
        </TR>
        <TR>

            <TD class="appearedAs">ablution</TD>
            <TD class="pageNumbers">50, 51, 52</TD>
        </TR>
        <TR>
            <TD class="indexTerm" colspan='2'>absolute</TD>
        </TR>
        <TR>

            <TD class="appearedAs">absolutely</TD>
            <TD class="pageNumbers">51, 55</TD>
        </TR>
        <TR>
            <TD class="indexTerm" colspan='2'>absolve</TD>
        </TR>
        <TR>

            <TD class="appearedAs">absolved</TD>
            <TD class="pageNumbers">67</TD>
        </TR>
        <TR>
            <TD class="indexTerm" colspan='2'>abstain</TD>
        </TR>
        <TR>

            <TD class="appearedAs">abstain</TD>
            <TD class="pageNumbers">81</TD>
        </TR>
        <TR>
            <TD class="indexTerm" colspan='2'>abu</TD>
        </TR>
        <TR>

            <TD class="appearedAs">abu</TD>
            <TD class="pageNumbers">9</TD>
        </TR>
        <TR>
            <TD class="indexTerm" colspan='2'>abul</TD>
        </TR>
        <TR>

            <TD class="appearedAs">abul</TD>
            <TD class="pageNumbers">7, 9, 28, 99</TD>
        </TR>
        <TR>
            <TD class="indexTerm" colspan='2'>abundant</TD>
        </TR>
        <TR>

            <TD class="appearedAs">abundant</TD>
            <TD class="pageNumbers">50</TD>
        </TR>
        <TR>
            <TD class="indexTerm" colspan='2'>abvious</TD>
        </TR>
        <TR>

            <TD class="appearedAs">abvious</TD>
            <TD class="pageNumbers">98</TD>
        </TR>
        <TR>
            <TD class="indexTerm" colspan='2'>accept</TD>
        </TR>
        <TR>

            <TD class="appearedAs">accept</TD>
            <TD class="pageNumbers">2</TD>
        </TR>
        <TR>

            <TD class="appearedAs">acceptance</TD>
            <TD class="pageNumbers">52, 86</TD>
        </TR>
        <TR>

            <TD class="appearedAs">accepted</TD>
            <TD class="pageNumbers">78, 86, 88, 93</TD>
        </TR>
        <TR>

            <TD class="appearedAs">accepts</TD>
            <TD class="pageNumbers">13</TD>
        </TR>
        <TR>
            <TD class="indexTerm" colspan='2'>acclaim</TD>
        </TR>
        <TR>

            <TD class="appearedAs">acclaimed</TD>
            <TD class="pageNumbers">4</TD>
        </TR>
        <TR>
            <TD class="indexTerm" colspan='2'>accommodate</TD>
        </TR>
        <TR>

            <TD class="appearedAs">accommodated</TD>
            <TD class="pageNumbers">39</TD>
        </TR>
        <TR>
            <TD class="indexTerm" colspan='2'>account</TD>
        </TR>
        <TR>

            <TD class="appearedAs">account</TD>
            <TD class="pageNumbers">71</TD>
        </TR>
        <TR>
            <TD class="indexTerm" colspan='2'>accursed</TD>
        </TR>
        <TR>

            <TD class="appearedAs">accursed</TD>
            <TD class="pageNumbers">39, 40, 41, 42, 44, 46, 52</TD>
        </TR>
        <TR>
            <TD class="indexTerm" colspan='2'>accuse</TD>
        </TR>
        <TR>

            <TD class="appearedAs">accused</TD>
            <TD class="pageNumbers">21, 46</TD>
        </TR>
        <TR>

            <TD class="appearedAs">accuses</TD>
            <TD class="pageNumbers">18</TD>
        </TR>
        <TR>
            <TD class="indexTerm" colspan='2'>acend</TD>
        </TR>
        <TR>

            <TD class="appearedAs">ascend</TD>
            <TD class="pageNumbers">93</TD>
        </TR>
        <TR>

            <TD class="appearedAs">ascended</TD>
            <TD class="pageNumbers">64</TD>
        </TR>
        <TR>
            <TD class="indexTerm" colspan='2'>achieve</TD>
        </TR>
        <TR>

            <TD class="appearedAs">achieving</TD>
            <TD class="pageNumbers">43</TD>
        </TR>
        <TR>
            <TD class="indexTerm" colspan='2'>acknowledge</TD>
        </TR>
        <TR>

            <TD class="appearedAs">acknowledging</TD>
            <TD class="pageNumbers">84</TD>
        </TR>
        <TR>
            <TD class="indexTerm" colspan='2'>acquire</TD>
        </TR>
        <TR>

            <TD class="appearedAs">acquired</TD>
            <TD class="pageNumbers">15, 20</TD>
        </TR>
        <TR>

            <TD class="appearedAs">acquires</TD>
            <TD class="pageNumbers">95</TD>
        </TR>
        <TR>

            <TD class="appearedAs">acquiring</TD>
            <TD class="pageNumbers">12</TD>
        </TR>
        <TR>
            <TD class="indexTerm" colspan='2'>act</TD>
        </TR>
        <TR>

            <TD class="appearedAs">action</TD>
            <TD class="pageNumbers">52, 63, 77</TD>
        </TR>
        <TR>

            <TD class="appearedAs">actions</TD>
            <TD class="pageNumbers">62</TD>
        </TR>
        <TR>
            <TD class="indexTerm" colspan='2'>add</TD>
        </TR>
        <TR>

            <TD class="appearedAs">add</TD>
            <TD class="pageNumbers">43</TD>
        </TR>
        <TR>

            <TD class="appearedAs">addition</TD>
            <TD class="pageNumbers">32, 41, 53, 54</TD>
        </TR>
        <TR>

            <TD class="appearedAs">additional</TD>
            <TD class="pageNumbers">42, 43</TD>
        </TR>
        <TR>

            <TD class="appearedAs">additions</TD>
            <TD class="pageNumbers">4</TD>
        </TR>
        <TR>
            <TD class="indexTerm" colspan='2'>address</TD>
        </TR>
        <TR>

            <TD class="appearedAs">address</TD>
            <TD class="pageNumbers">73</TD>
        </TR>
        <TR>

            <TD class="appearedAs">addressed</TD>
            <TD class="pageNumbers">54, 60</TD>
        </TR>
        <TR>

            <TD class="appearedAs">addressee</TD>
            <TD class="pageNumbers">76</TD>
        </TR>
        <TR>

            <TD class="appearedAs">addresses</TD>
            <TD class="pageNumbers">58</TD>
        </TR>
        <TR>
            <TD class="indexTerm" colspan='2'>adds</TD>
        </TR>
        <TR>

            <TD class="appearedAs">adds</TD>
            <TD class="pageNumbers">35, 85</TD>
        </TR>
        <TR>
            <TD class="indexTerm" colspan='2'>adh</TD>
        </TR>
        <TR>

            <TD class="appearedAs">adh</TD>
            <TD class="pageNumbers">14, 41, 95</TD>
        </TR>
        <TR>
            <TD class="indexTerm" colspan='2'>adhere</TD>
        </TR>
        <TR>

            <TD class="appearedAs">adhere</TD>
            <TD class="pageNumbers">78</TD>
        </TR>
        <TR>

            <TD class="appearedAs">adhered</TD>
            <TD class="pageNumbers">79</TD>
        </TR>
        <TR>

            <TD class="appearedAs">adherence</TD>
            <TD class="pageNumbers">44</TD>
        </TR>
        <TR>
            <TD class="indexTerm" colspan='2'>adi</TD>
        </TR>
        <TR>

            <TD class="appearedAs">adi</TD>
            <TD class="pageNumbers">42, 82, 93</TD>
        </TR>
        <TR>
            <TD class="indexTerm" colspan='2'>adjective</TD>
        </TR>
        <TR>

            <TD class="appearedAs">adjective</TD>
            <TD class="pageNumbers">81</TD>
        </TR>
        <TR>
            <TD class="indexTerm" colspan='2'>adjust</TD>
        </TR>
        <TR>

            <TD class="appearedAs">adjustment</TD>
            <TD class="pageNumbers">65</TD>
        </TR>
        <TR>
            <TD class="indexTerm" colspan='2'>admonish</TD>
        </TR>
        <TR>

            <TD class="appearedAs">admonished</TD>
            <TD class="pageNumbers">12</TD>
        </TR>
        <TR>

            <TD class="appearedAs">admonisher</TD>
            <TD class="pageNumbers">78</TD>
        </TR>
        <TR>

            <TD class="appearedAs">admonition</TD>
            <TD class="pageNumbers">13</TD>
        </TR>
        <TR>
            <TD class="indexTerm" colspan='2'>adore</TD>
        </TR>
        <TR>

            <TD class="appearedAs">adorned</TD>
            <TD class="pageNumbers">46</TD>
        </TR>
        <TR>

            <TD class="appearedAs">adornment</TD>
            <TD class="pageNumbers">46, 64, 88</TD>
        </TR>
        <TR>
            <TD class="indexTerm" colspan='2'>advance</TD>
        </TR>
        <TR>

            <TD class="appearedAs">advances</TD>
            <TD class="pageNumbers">18</TD>
        </TR>
        <TR>
            <TD class="indexTerm" colspan='2'>advantage</TD>
        </TR>
        <TR>

            <TD class="appearedAs">advantage</TD>
            <TD class="pageNumbers">17</TD>
        </TR>
        <TR>
            <TD class="indexTerm" colspan='2'>advise</TD>
        </TR>
        <TR>

            <TD class="appearedAs">advised</TD>
            <TD class="pageNumbers">75</TD>
        </TR>
        <TR>
            <TD class="indexTerm" colspan='2'>advocate</TD>
        </TR>
        <TR>

            <TD class="appearedAs">advocate</TD>
            <TD class="pageNumbers">13</TD>
        </TR>
        <TR>
            <TD class="indexTerm" colspan='2'>afeefuddin</TD>
        </TR>
        <TR>

            <TD class="appearedAs">afeefuddin</TD>
            <TD class="pageNumbers">6</TD>
        </TR>
        <TR>
            <TD class="indexTerm" colspan='2'>affair</TD>
        </TR>
        <TR>

            <TD class="appearedAs">affair</TD>
            <TD class="pageNumbers">65</TD>
        </TR>
        <TR>

            <TD class="appearedAs">affairs</TD>
            <TD class="pageNumbers">44, 58, 74</TD>
        </TR>
        <TR>
            <TD class="indexTerm" colspan='2'>affan</TD>
        </TR>
        <TR>

            <TD class="appearedAs">affan</TD>
            <TD class="pageNumbers">49</TD>
        </TR>
        <TR>
            <TD class="indexTerm" colspan='2'>affirm</TD>
        </TR>
        <TR>

            <TD class="appearedAs">affirmation</TD>
            <TD class="pageNumbers">63</TD>
        </TR>
        <TR>

            <TD class="appearedAs">affirmed</TD>
            <TD class="pageNumbers">57</TD>
        </TR>
        <TR>
            <TD class="indexTerm" colspan='2'>afflict</TD>
        </TR>
        <TR>

            <TD class="appearedAs">afflicts</TD>
            <TD class="pageNumbers">59</TD>
        </TR>
        <TR>
            <TD class="indexTerm" colspan='2'>aforetime</TD>
        </TR>
        <TR>

            <TD class="appearedAs">aforetime</TD>
            <TD class="pageNumbers">79</TD>
        </TR>
        <TR>
            <TD class="indexTerm" colspan='2'>age</TD>
        </TR>
        <TR>

            <TD class="appearedAs">age</TD>
            <TD class="pageNumbers">3, 6, 65</TD>
        </TR>
        <TR>
            <TD class="indexTerm" colspan='2'>agitate</TD>
        </TR>
        <TR>

            <TD class="appearedAs">agitated</TD>
            <TD class="pageNumbers">49</TD>
        </TR>
        <TR>
            <TD class="indexTerm" colspan='2'>agree</TD>
        </TR>
        <TR>

            <TD class="appearedAs">agree</TD>
            <TD class="pageNumbers">25, 27, 52, 77, 98</TD>
        </TR>
        <TR>

            <TD class="appearedAs">agreed</TD>
            <TD class="pageNumbers">32, 47, 49, 57, 68</TD>
        </TR>
        <TR>

            <TD class="appearedAs">agreement</TD>
            <TD class="pageNumbers">25</TD>
        </TR>
        <TR>
            <TD class="indexTerm" colspan='2'>ahbar</TD>
        </TR>
        <TR>

            <TD class="appearedAs">ahbar</TD>
            <TD class="pageNumbers">63, 67</TD>
        </TR>
        <TR>
            <TD class="indexTerm" colspan='2'>ahl</TD>
        </TR>
        <TR>

            <TD class="appearedAs">ahl</TD>
            <TD class="pageNumbers">16</TD>
        </TR>
        <TR>
            <TD class="indexTerm" colspan='2'>ahmed</TD>
        </TR>
        <TR>

            <TD class="appearedAs">ahmad</TD>
            <TD class="pageNumbers">7, 11, 13, 20, 23, 29, 30, 31, 32, 34, 36, 37, 38, 40, 41,
                45, 47, 48, 50, 56, 57, 63, 68, 70, 71, 75, 77, 78, 82, 85, 87, 90, 93, 94, 95</TD>
        </TR>
        <TR>

            <TD class="appearedAs">ahmed</TD>
            <TD class="pageNumbers">88</TD>
        </TR>
        <TR>
            <TD class="indexTerm" colspan='2'>ahwadhi</TD>
        </TR>
        <TR>

            <TD class="appearedAs">ahwadhi</TD>
            <TD class="pageNumbers">57, 64</TD>
        </TR>
        <TR>
            <TD class="indexTerm" colspan='2'>ahzab</TD>
        </TR>
        <TR>

            <TD class="appearedAs">ahzab</TD>
            <TD class="pageNumbers">57, 58</TD>
        </TR>
        <TR>
            <TD class="indexTerm" colspan='2'>aid</TD>
        </TR>
        <TR>

            <TD class="appearedAs">aid</TD>
            <TD class="pageNumbers">27</TD>
        </TR>
        <TR>
            <TD class="indexTerm" colspan='2'>aim</TD>
        </TR>
        <TR>

            <TD class="appearedAs">aim</TD>
            <TD class="pageNumbers">38, 74</TD>
        </TR>
        <TR>
            <TD class="indexTerm" colspan='2'>ajami</TD>
        </TR>
        <TR>

            <TD class="appearedAs">ajami</TD>
            <TD class="pageNumbers">25</TD>
        </TR>
        <TR>
            <TD class="indexTerm" colspan='2'>ajda</TD>
        </TR>
        <TR>

            <TD class="appearedAs">ajda</TD>
            <TD class="pageNumbers">17</TD>
        </TR>
        <TR>
            <TD class="indexTerm" colspan='2'>akamah</TD>
        </TR>
        <TR>

            <TD class="appearedAs">akamah</TD>
            <TD class="pageNumbers">24</TD>
        </TR>
        <TR>
            <TD class="indexTerm" colspan='2'>akbar</TD>
        </TR>
        <TR>

            <TD class="appearedAs">akbar</TD>
            <TD class="pageNumbers">40, 63, 82</TD>
        </TR>
        <TR>
            <TD class="indexTerm" colspan='2'>ala</TD>
        </TR>
        <TR>

            <TD class="appearedAs">ala</TD>
            <TD class="pageNumbers">7</TD>
        </TR>
        <TR>
            <TD class="indexTerm" colspan='2'>alal</TD>
        </TR>
        <TR>

            <TD class="appearedAs">alal</TD>
            <TD class="pageNumbers">7, 98</TD>
        </TR>
        <TR>
            <TD class="indexTerm" colspan='2'>alaq</TD>
        </TR>
        <TR>

            <TD class="appearedAs">alaq</TD>
            <TD class="pageNumbers">30, 52</TD>
        </TR>
        <TR>
            <TD class="indexTerm" colspan='2'>alati</TD>
        </TR>
        <TR>

            <TD class="appearedAs">alati</TD>
            <TD class="pageNumbers">8</TD>
        </TR>
        <TR>
            <TD class="indexTerm" colspan='2'>alayk</TD>
        </TR>
        <TR>

            <TD class="appearedAs">alayk</TD>
            <TD class="pageNumbers">31</TD>
        </TR>
        <TR>
            <TD class="indexTerm" colspan='2'>alaykas</TD>
        </TR>
        <TR>

            <TD class="appearedAs">alaykas</TD>
            <TD class="pageNumbers">31, 32</TD>
        </TR>
        <TR>
            <TD class="indexTerm" colspan='2'>alaykum</TD>
        </TR>
        <TR>

            <TD class="appearedAs">alaykum</TD>
            <TD class="pageNumbers">32</TD>
        </TR>
        <TR>
            <TD class="indexTerm" colspan='2'>ali</TD>
        </TR>
        <TR>

            <TD class="appearedAs">ali</TD>
            <TD class="pageNumbers">4, 15, 30, 31, 39, 47, 57, 60, 62, 63, 66, 77, 82, 85, 98,
                99</TD>
        </TR>
        <TR>
            <TD class="indexTerm" colspan='2'>alias</TD>
        </TR>
        <TR>

            <TD class="appearedAs">alias</TD>
            <TD class="pageNumbers">5</TD>
        </TR>
        <TR>
            <TD class="indexTerm" colspan='2'>alif</TD>
        </TR>
        <TR>

            <TD class="appearedAs">alif</TD>
            <TD class="pageNumbers">23, 54, 55, 65, 72, 98, 99</TD>
        </TR>
        <TR>
            <TD class="indexTerm" colspan='2'>alighted</TD>
        </TR>
        <TR>

            <TD class="appearedAs">alighted</TD>
            <TD class="pageNumbers">46</TD>
        </TR>
        <TR>
            <TD class="indexTerm" colspan='2'>alike</TD>
        </TR>
        <TR>

            <TD class="appearedAs">alike</TD>
            <TD class="pageNumbers">44</TD>
        </TR>
        <TR>
            <TD class="indexTerm" colspan='2'>alim</TD>
        </TR>
        <TR>

            <TD class="appearedAs">alim</TD>
            <TD class="pageNumbers">3</TD>
        </TR>
        <TR>
            <TD class="indexTerm" colspan='2'>alimiyyah</TD>
        </TR>
        <TR>

            <TD class="appearedAs">alimiyyah</TD>
            <TD class="pageNumbers">3</TD>
        </TR>
        <TR>
            <TD class="indexTerm" colspan='2'>alla</TD>
        </TR>
        <TR>

            <TD class="appearedAs">alla</TD>
            <TD class="pageNumbers">30, 31</TD>
        </TR>
        <TR>
            <TD class="indexTerm" colspan='2'>allah</TD>
        </TR>
        <TR>

            <TD class="appearedAs">allah</TD>
            <TD class="pageNumbers">2, 3, 4, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21,
                23, 24, 27, 32</TD>
        </TR>
        <TR>
            <TD class="indexTerm" colspan='2'>allegorical</TD>
        </TR>
        <TR>

            <TD class="appearedAs">allegorical</TD>
            <TD class="pageNumbers">21, 85</TD>
        </TR>
        <TR>
            <TD class="indexTerm" colspan='2'>allow</TD>
        </TR>
        <TR>

            <TD class="appearedAs">allowed</TD>
            <TD class="pageNumbers">16, 59, 62, 71</TD>
        </TR>
        <TR>
            <TD class="indexTerm" colspan='2'>aloud</TD>
        </TR>
        <TR>

            <TD class="appearedAs">aloud</TD>
            <TD class="pageNumbers">35, 43, 47, 48, 49</TD>
        </TR>
        <TR>
            <TD class="indexTerm" colspan='2'>alphabet</TD>
        </TR>
        <TR>

            <TD class="appearedAs">alphabet</TD>
            <TD class="pageNumbers">99</TD>
        </TR>
        <TR>
            <TD class="indexTerm" colspan='2'>ambition</TD>
        </TR>
        <TR>

            <TD class="appearedAs">ambition</TD>
            <TD class="pageNumbers">75</TD>
        </TR>
        <TR>
            <TD class="indexTerm" colspan='2'>amdi</TD>
        </TR>
        <TR>

            <TD class="appearedAs">amdi</TD>
            <TD class="pageNumbers">6</TD>
        </TR>
        <TR>
            <TD class="indexTerm" colspan='2'>ameen</TD>
        </TR>
        <TR>

            <TD class="appearedAs">ameen</TD>
            <TD class="pageNumbers">2, 4</TD>
        </TR>
        <TR>
            <TD class="indexTerm" colspan='2'>amr</TD>
        </TR>
        <TR>

            <TD class="appearedAs">amr</TD>
            <TD class="pageNumbers">15, 20, 22, 23, 24, 29, 47, 72, 83, 87</TD>
        </TR>
        <TR>
            <TD class="indexTerm" colspan='2'>amta</TD>
        </TR>
        <TR>

            <TD class="appearedAs">amta</TD>
            <TD class="pageNumbers">84</TD>
        </TR>
        <TR>
            <TD class="indexTerm" colspan='2'>analogy</TD>
        </TR>
        <TR>

            <TD class="appearedAs">analogy</TD>
            <TD class="pageNumbers">17</TD>
        </TR>
        <TR>
            <TD class="indexTerm" colspan='2'>anas</TD>
        </TR>
        <TR>

            <TD class="appearedAs">anas</TD>
            <TD class="pageNumbers">17, 19, 27, 32, 38, 48, 49, 64, 80, 87, 90, 96</TD>
        </TR>
        <TR>
            <TD class="indexTerm" colspan='2'>ancestor</TD>
        </TR>
        <TR>

            <TD class="appearedAs">ancestry</TD>
            <TD class="pageNumbers">5</TD>
        </TR>
        <TR>

            <TD class="appearedAs">ancient</TD>
            <TD class="pageNumbers">38</TD>
        </TR>
        <TR>
            <TD class="indexTerm" colspan='2'>anfal</TD>
        </TR>
        <TR>

            <TD class="appearedAs">anfal</TD>
            <TD class="pageNumbers">31</TD>
        </TR>
        <TR>
            <TD class="indexTerm" colspan='2'>angel</TD>
        </TR>
        <TR>

            <TD class="appearedAs">angel</TD>
            <TD class="pageNumbers">33</TD>
        </TR>
        <TR>

            <TD class="appearedAs">angels</TD>
            <TD class="pageNumbers">9, 35, 43, 50, 64, 66, 69, 80, 86, 90, 92</TD>
        </TR>
        <TR>
            <TD class="indexTerm" colspan='2'>anger</TD>
        </TR>
        <TR>

            <TD class="appearedAs">anger</TD>
            <TD class="pageNumbers">41, 42, 57, 61, 82</TD>
        </TR>
        <TR>
            <TD class="indexTerm" colspan='2'>angle</TD>
        </TR>
        <TR>

            <TD class="appearedAs">angle</TD>
            <TD class="pageNumbers">20</TD>
        </TR>
        <TR>
            <TD class="indexTerm" colspan='2'>anglicized</TD>
        </TR>
        <TR>

            <TD class="appearedAs">anglicized</TD>
            <TD class="pageNumbers">4</TD>
        </TR>
        <TR>
            <TD class="indexTerm" colspan='2'>angry</TD>
        </TR>
        <TR>

            <TD class="appearedAs">angry</TD>
            <TD class="pageNumbers">41, 58</TD>
        </TR>
        <TR>
            <TD class="indexTerm" colspan='2'>animal</TD>
        </TR>
        <TR>

            <TD class="appearedAs">animal</TD>
            <TD class="pageNumbers">45, 51</TD>
        </TR>
        <TR>
            <TD class="indexTerm" colspan='2'>animosity</TD>
        </TR>
        <TR>

            <TD class="appearedAs">animosity</TD>
            <TD class="pageNumbers">38</TD>
        </TR>
        <TR>
            <TD class="indexTerm" colspan='2'>annotated</TD>
        </TR>
        <TR>

            <TD class="appearedAs">annotated</TD>
            <TD class="pageNumbers">4</TD>
        </TR>
        <TR>
            <TD class="indexTerm" colspan='2'>ansari</TD>
        </TR>
        <TR>

            <TD class="appearedAs">ansari</TD>
            <TD class="pageNumbers">32</TD>
        </TR>
        <TR>
            <TD class="indexTerm" colspan='2'>answer</TD>
        </TR>
        <TR>

            <TD class="appearedAs">answer</TD>
            <TD class="pageNumbers">20, 53, 59, 63, 76, 79, 94</TD>
        </TR>
        <TR>

            <TD class="appearedAs">answered</TD>
            <TD class="pageNumbers">48, 60</TD>
        </TR>
        <TR>

            <TD class="appearedAs">answering</TD>
            <TD class="pageNumbers">31</TD>
        </TR>
        <TR>
            <TD class="indexTerm" colspan='2'>antithesis</TD>
        </TR>
        <TR>

            <TD class="appearedAs">antithesis</TD>
            <TD class="pageNumbers">63</TD>
        </TR>
        <TR>
            <TD class="indexTerm" colspan='2'>anxiety</TD>
        </TR>
        <TR>

            <TD class="appearedAs">anxiety</TD>
            <TD class="pageNumbers">55</TD>
        </TR>
        <TR>
            <TD class="indexTerm" colspan='2'>anxious</TD>
        </TR>
        <TR>

            <TD class="appearedAs">anxious</TD>
            <TD class="pageNumbers">59</TD>
        </TR>
        <TR>
            <TD class="indexTerm" colspan='2'>apes</TD>
        </TR>
        <TR>

            <TD class="appearedAs">apes</TD>
            <TD class="pageNumbers">83</TD>
        </TR>
        <TR>
            <TD class="indexTerm" colspan='2'>apparent</TD>
        </TR>
        <TR>

            <TD class="appearedAs">apparent</TD>
            <TD class="pageNumbers">43</TD>
        </TR>
        <TR>
            <TD class="indexTerm" colspan='2'>appeal</TD>
        </TR>
        <TR>

            <TD class="appearedAs">appealing</TD>
            <TD class="pageNumbers">57</TD>
        </TR>
        <TR>
            <TD class="indexTerm" colspan='2'>appear</TD>
        </TR>
        <TR>

            <TD class="appearedAs">appeared</TD>
            <TD class="pageNumbers">59</TD>
        </TR>
        <TR>
            <TD class="indexTerm" colspan='2'>appellation</TD>
        </TR>
        <TR>

            <TD class="appearedAs">appellation</TD>
            <TD class="pageNumbers">60</TD>
        </TR>
        <TR>
            <TD class="indexTerm" colspan='2'>append</TD>
        </TR>
        <TR>

            <TD class="appearedAs">appended</TD>
            <TD class="pageNumbers">60</TD>
        </TR>
        <TR>
            <TD class="indexTerm" colspan='2'>appetite</TD>
        </TR>
        <TR>

            <TD class="appearedAs">appetite</TD>
            <TD class="pageNumbers">1</TD>
        </TR>
        <TR>
            <TD class="indexTerm" colspan='2'>application</TD>
        </TR>
        <TR>

            <TD class="appearedAs">application</TD>
            <TD class="pageNumbers">37, 56, 58, 63, 76</TD>
        </TR>
